@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.foundryvttSWN.sheet.actor.character {
  min-width: 720px;
  min-height: 680px;

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {

    // Character Profile image (larger)
    img.profile {
      flex: 0 0 160px;
      max-width: 160px;
      height: 160px;
    }

    // Character Level
    .charlevel {
      flex: 0 0 20px;
      height: 20px;
      font-size: 18px;
      color: @colorTan;
      white-space: nowrap;
    }

    // Experience Tracking
    .experience {
      flex: 0 0 32px;
      margin-bottom: -5px;
      align-items: center;
      font-size: 18px;
      span.max {
        color: @colorTan;
        flex: none;
        margin-left: 3px;
      }
    }
    .xpbar {
      flex: 0 0 8px;
      width: 100%;
      margin-bottom: 5px;
      background: @colorTan;
      border: 1px solid #000;
      border-radius: 3px;
      .bar {
        height: 4px;
        margin: 1px;
        display: block;
        background: #afebff;
        border: 1px solid #000;
        border-radius: 2px;
      }
    }

    // Header Attributes
    .attributes {
      a.rest {
        border: 1px solid @colorBeige;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.05);
        padding: 0 3px;
        margin: 0 3px;
      }

      .hit-dice {
        font-size: 24px;
      }

      .initiative .attribute-footer input {
        width: 32px;
      }
    }

    .summary .proficiency {
      text-align: right;
      padding-right: 5px;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  // Custom Resources
  .resource .attribute-value {
    input {
      flex: 0 0 25%;
    }
    label.recharge {
      height: 32px;
      position: relative;
      font-family: "Signika", sans-serif;
      font-size: 11px;
      text-align: center;
      color: @colorOlive;
      input[type="checkbox"] {
        height: 14px;
        width: 14px;
        margin: 0;
        top: -6px;
      }
    }
  }

  ul.skills-list {
    flex: 0 0 212px;

    li.skill {
      padding: 3px;
      h4 {
        flex: 1px;
        margin: 0;
        font-size: 13px;
      }
    }
  }

  .item-detail.player-class {
    flex: 0 0 180px;
    text-align: right;
    padding-right: 10px;
  }

  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */

  .inventory,
  .spellbook {
    .item-controls {
      flex: 0 0 68px;
      .item-toggle {
        color: @colorBeige;
        &.active {
          color: @colorOlive;
        }
        &.fixed {
          color: @colorCrimson;
          &:hover {
            text-shadow: none;
          }
        }
      }
    }
  }
}
