@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.foundryvttSWN.sheet.actor.npc {
  min-width: 600px;
  min-height: 680px;

  .header-exp {
    flex: 0 0 80px;
    justify-content: center;
    .cr {
      flex: 0 0 32px;
      line-height: 28px;
      margin-bottom: -5px;
      font-size: 24px;
      input {
        width: 32px;
        padding: 0;
        text-align: center;
      }
    }
    .experience {
      flex: 0 0 18px;
      color: @colorTan;
      font-size: 16px;
    }
  }

  .summary {
    font-size: 18px;
  }

  .spellcasting-ability {
    label {
      flex: none;
    }
  }

  ul.skills-list {
    flex: 0 0 212px;

    li.skill {
      padding: 3px;
      h4 {
        flex: 1px;
        margin: 0;
        font-size: 13px;
      }
    }
  }

}