<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SWN.Name' }}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel">
                    <label>{{ localize "SWN.Level" }} {{data.details.level}}</label>
                    <span class="levels">{{classLabels}}</span>
                </div>

                {{#unless disableExperience}}
                <div class="experience flexrow">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                           data-dtype="Number" placeholder="0"/>
                    <span class="sep">/</span>
                    <span class="max">{{data.details.xp.max}}</span>
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                {{/unless}}
            </aside>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li>
                    <input type="text" name="data.details.race" value="{{data.details.race}}" placeholder="{{ localize 'SWN.Race' }}"/>
                </li>
                <li>
                    <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'SWN.Background' }}"/>
                </li>
                <li>
                    <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'SWN.Alignment' }}"/>
                </li>
                <li>
                    <input type="text" name="data.attributes.skillPoints" value="{{data.attributes.skillPoints}}" placeholder="{{ localize 'SWN.SkillPoints' }}" />
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "SWN.HitPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                               data-dtype="Number" placeholder="10"/>
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                               data-dtype="Number" placeholder="10"/>
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{ localize 'SWN.Temp' }}"
                               value="{{data.attributes.hp.temp}}" data-dtype="{{data.attributes.hp.type}}"/>
                        <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+{{ localize 'SWN.Max' }}"
                               value="{{data.attributes.hp.tempmax}}" data-dtype="{{data.attributes.hp.type}}"/>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "SWN.HitDice" }}</h4>
                    <div class="attribute-value multiple">
                        <label class="hit-dice">{{data.attributes.hd}} <span class="sep"> / </span> {{data.details.level}}</label>
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest short-rest">{{ localize "SWN.RestS" }}</a>
                        <a class="rest long-rest">{{ localize "SWN.RestL" }}</a>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "SWN.ArmorClass" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                               data-dtype="Number" placeholder="10"/>
                    </div>
                    <footer class="attribute-footer">
                        <span class="spell-dc">{{localize "SWN.SpellDC"}} {{data.attributes.spelldc}}</span>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "SWN.Speed" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.speed.value" type="text"
                               value="{{data.attributes.speed.value}}" placeholder="0"/>
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" class="speed" name="data.attributes.speed.special"
                               value="{{data.attributes.speed.special}}" placeholder="{{ localize 'SWN.SpeedSpecial' }}"/>
                    </footer>
                </li>

                <li class="attribute initiative">
                    <h4 class="attribute-name box-title">{{ localize "SWN.Initiative" }}</h4>
                    <div class="attribute-value">
                        <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{ localize "SWN.Modifier" }}</span>
                        <input name="data.attributes.init.value" type="text" placeholder="0" data-dtype="Number"
                               value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
                    </footer>
                </li>
            </ul>
        </section>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "SWN.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "SWN.Inventory" }}</a>
        <a class="item" data-tab="features">{{ localize "SWN.Features" }}</a>
        <a class="item" data-tab="biography">{{ localize "SWN.Biography" }}</a>
    </nav>

    {{!-- Character Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
            {{#each data.abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10"/>
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/>
                        <a class="proficiency-toggle ability-proficiency" title="{{ localize 'SWN.Proficiency' }}">{{{ability.icon}}}</a>
                        <span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
                    </div>
                </li>
            {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list center-pane">
            {{#each data.skills as |skill s|}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <h4 class="skill-name rollable" style="padding-left: 10px;">{{skill.label}}</h4>
                    <input class="ability-score" name="data.skills.{{s}}.level" type="text" value="{{skill.level}}" data-dtype="Number"/>
                </li>
            {{/each}}
            </ul>

            <section class="flexcol flex2">

                {{!-- Body Attributes --}}

                {{!-- Focus Skills --}}
                <ul class="skills-list center-pane">
                    <h4 class="box-title">{{ localize "SWN.Focus" }}</h4>
                    {{#each data.focusSkills as |focusSkill fs|}}
                    <li class="skill" data-skill="{{fs}}">
                        <div class="row">
                            <div class="column1" style="padding-left: 10px;">{{focusSkill.label}}</div>
                            <div class="column2"><input class="focus-scores" name="data.focusSkills.{{fs}}.level" type="text" value="{{focusSkill.level}}" data-dtype="Number"/></div>
                        </div>
                    </li>
                {{/each}}
                </ul>

                {{!-- Traits --}}
                {{> "systems/foundryvttSWN/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/foundryvttSWN/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/foundryvttSWN/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
