<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SWN.Name' }}"/>
            </h1>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "SWN.HitPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                               data-dtype="Number" placeholder="10"/>
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                               data-dtype="Number" placeholder="10"/>
                    </div>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "SWN.ArmorClass" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                               data-dtype="Number" placeholder="10"/>
                    </div>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "SWN.BonusAttack" }}</h4>
                    <div class="attribute-value">
                        <input name="data.bonuses.attack.attack.value" type="text" value="{{data.bonuses.attack.attack.value}}"
                               data-dtype="Number" placeholder="0"/>
                    </div>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "SWN.Speed" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.speed.value" type="text"
                               value="{{data.attributes.speed.value}}" placeholder="0"/>
                    </div>
                </li>

                <li class="attribute initiative">
                    <h4 class="attribute-name box-title">{{ localize "SWN.Initiative" }}</h4>
                    <div class="attribute-value">
                        <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
                </li>
            </ul>
        </section>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "SWN.Attributes" }}</a>
        <a class="item" data-tab="features">{{ localize "SWN.Inventory" }}</a>
        <a class="item" data-tab="biography">{{ localize "SWN.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
            {{#each data.abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10"/>
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/>
                    </div>
                </li>
            {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list center-pane">
            {{#each data.skills as |skill s|}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <h4 class="skill-name rollable" style="padding-left: 10px;">{{skill.label}}</h4>
                    <input class="ability-score" name="data.skills.{{s}}.level" type="text" value="{{skill.level}}" data-dtype="Number"/>
                </li>
            {{/each}}
            </ul>

            <section class="flexcol">

                {{!-- Body Attributes --}}

                {{!-- Focus Skills --}}
                <ul class="skills-list center-pane">
                    <h4 class="box-title">{{ localize "SWN.Focus" }}</h4>
                    {{#each data.focusSkills as |focusSkill fs|}}
                    <li class="skill {{#if focusSkill.value}}proficient{{/if}}" data-skill="{{fs}}">
                        <div class="row">
                            <div class="column1" style="padding-left: 10px;">{{focusSkill.label}}</div>
                            <div class="column2"><input class="focus-scores" name="data.focusSkills.{{fs}}.level" type="text" value="{{focusSkill.level}}" data-dtype="Number"/></div>
                        </div>
                    </li>
                {{/each}}
                </ul>

                {{!-- Traits --}}
                {{> "systems/foundryvttSWN/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/foundryvttSWN/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
