<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" alt="{{actor.name}}"
             data-edit="img">
        <section class="header-details flexrow">
            <h1 class="charnam">
                <input name="name" type="text" value="{{actor.name}}"
                       placeholder="{{localize 'SWN.Name'}}">
            </h1>
            <ul class="summary flexrow">
                <li>
                    <span>{{lookup config.frameTypes data.attributes.frame}}</span>
                </li>
                <li><span style="padding-left:2px;">{{localize 'SWN.TechLevel'}}: {{data.attributes.tl}}</span></li>
            </ul>
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{localize 'SWN.HitPoints'}}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" placeholder="&mdash;"
                               value="{{data.attributes.hp.value}}" data-dtype="Number">
                        <span class="sep"> &sol; </span>
                        <input name="data.attributes.hp.max" type="text" placeholder="&mdash;"
                               value="{{data.attributes.hp.max}}" data-dtype="Number">
                    </div>
                </li>
                <li class="attribute">
                    <h4 class="attribute-name box-title">{{localize 'SWN.Armor'}}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.armor" type="text" placeholder="&mdash;"
                               value="{{data.attributes.armor}}" data-dtype="Number">
                    </div>
                </li>
                <li class="attribute">
                    <h4 class="attribute-name box-title">{{localize 'SWN.Speed'}}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.speed.value" type="text" placeholder="&mdash;"
                               value="{{data.attributes.speed.value}}">
                    </div>
                </li>
            </ul>
        </section>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{localize 'SWN.Attributes'}}</a>
        <a class="item" data-tab="features">{{localize 'SWN.Features'}}</a>
        <a class="item" data-tab="cargo">{{localize 'SWN.VehicleCargoCrew'}}</a>
        <a class="item" data-tab="biography">{{localize 'SWN.Description'}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
            <section class="center-pane flexcol">
                <div class="counters">
                    <div class="counter flexrow creature-cap">
                        <h4>{{localize 'SWN.VehicleCreatureCapacity'}}</h4>
                        <div class="counter-value">
                            <input type="text" placeholder="&mdash;"
                                   name="data.attributes.capacity.creature"
                                   value="{{data.attributes.capacity.creature}}">
                        </div>
                    </div>
                    <div class="counter flexrow cargo-cap">
                        <h4>{{localize 'SWN.VehicleCargoCapacity'}}</h4>
                        <div class="counter-value">
                            <input type="text" name="data.attributes.capacity.cargo" placeholder="0"
                                   data-dtype="Number" value="{{data.attributes.capacity.cargo}}">
                        </div>
                    </div>
                    <div class="counter flexrow">
                        <h4>{{localize 'SWN.Tonnage'}}:</h4> <input name="data.attributes.tonnage" type="text" placeholder="&mdash;"
                        value="{{data.attributes.tonnage}}">
                    </div>
                    <div class="counter flexrow">
                        <h4>{{localize "SWN.Frame"}}</h4>
                        <select class="actor-size" name="data.attributes.frame">
                            {{#select data.attributes.frame}}
                            {{#each config.frameTypes as |label frame|}}
                                <option value="{{frame}}">{{label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="counter flexrow">
                        <h4>{{localize 'SWN.FuelType'}}:</h4>
                            <select class="actor-size" name="data.attributes.fuelType">
                                {{#select data.attributes.fuelType}}
                                {{#each config.fuelTypes as |label fuel|}}
                                    <option value="{{fuel}}">{{label}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                    </div>
                    <div class="counter flexrow">
                        <h4>{{localize 'SWN.Cost'}}:</h4> <input name="data.attributes.cost" type="text" placeholder="&mdash;"
                        value="{{data.attributes.cost}}">
                    </div>
                    <div class="counter flexrow">
                        <h4>{{localize 'SWN.TechLevel'}}:</h4> <input name="data.attributes.tl" type="text" placeholder="&mdash;"
                        value="{{data.attributes.tl}}">
                    </div>
                    <div class="counter flexrow">
                        <h4>{{localize 'SWN.Hardpoints'}}:</h4> <input name="data.attributes.hardpoints" type="text" placeholder="&mdash;"
                        value="{{data.attributes.hardpoints}}">
                    </div>
            </section>
        </div>

        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> 'systems/foundryvttSWN/templates/actors/parts/actor-features.html' sections=features}}
        </div>

        <div class="tab cargo flexcol" data-group="primary" data-tab="cargo">
            {{> 'systems/foundryvttSWN/templates/actors/parts/actor-inventory.html' sections=cargo}}
        </div>

        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target='data.details.biography.value'
                     button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
